.autocomplete-container {
  position: relative;
}

.ui-autocomplete {
  background: $gray-lighter;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  li {
    padding: 2px 5px;

    &.ui-state-focus {
      background: $brand-secondary;
      color: white;
    }
  }
}

.ui-helper-hidden-accessible {
  @include accessibility;
}