$choice-size: 80px;
$choice-size-desktop: 120px;

.choices-container {
  margin-bottom: $base-spacing-unit * 2;
  text-align: center;
}

.choices-container--suggestion {
  @extend .choices-container;
  margin: 0 auto $base-spacing-unit;

  @include media-query(lap-and-up) {
    max-width: 300px;
  }
}

.choices {
  @extend .cf;
  position: relative;
}

.choice {
  @extend .button--brand;
  border: 2px solid white;
  color: white;
  display: block;
  float: left;
  padding: $base-spacing-unit;
  transition: all 0.2s ease;
  width: 50%;

  &:first-child {
    @extend .button--secondary;
  }
}

.choice__icon {
  @include rem($choice-size);
  height: $choice-size;

  @include media-query(lap-and-up) {
    @include rem($choice-size-desktop);
    height: $choice-size-desktop;
  }
}

.choice__icon,
.choice__name {
  display: block;
}

.choice__name {
  @extend .gamma;

  @include media-query(lap-and-up) {
    @include rem($choice-size-desktop / 4);
  }
}

.choices__divider {
  @extend .heading--jumbo;
  background: white;
  border-radius: 50%;
  bottom: 0;
  display: block;
  height: $choice-size / 2;
  left: 0;
  line-height: 0.7;
  margin: auto;
  padding: $half-spacing-unit;
  position: absolute;
  right: 0;
  top: 0;
  width: $choice-size / 2;

  @include media-query(lap-and-up) {
    height: $choice-size-desktop / 2;
    line-height: 1;
    width: $choice-size-desktop / 2;
  }
}

.choices__neither {
  @extend .button--default;
  @include rem($choice-size / 4);
  padding: $base-spacing-unit;
  width: 100%;

  @include media-query(lap-and-up) {
    @include rem($choice-size-desktop / 4);
  }

  &.has-border {
    border: 2px solid white;
  }
}

.suggestion__image {
  background: $brand-secondary;
  padding: 10px;
}

.suggestion__name {
  @extend .choice__name;
  color: white;
}

.suggestion__text {
  @extend .button--primary;
  @include rem($choice-size / 4);
  padding: $base-spacing-unit;
  width: 100%;

  @include media-query(lap-and-up) {
    @include rem($choice-size-desktop / 4);
  }
}

.choices--footer {
  .text--skip {
    text-align: center;

    @include media-query(lap-and-up) {
      text-align: left;
    }
  }
}

.choices__chosen {
  margin-bottom: $base-spacing-unit * 2;
  text-align: center;
  text-transform: capitalize;

  @include media-query(lap-and-up) {
    text-align: right !important;
  }
}