$choice-size: 80px;
$choice-size-desktop: 120px;

.choices-container {
  margin-bottom: $base-spacing-unit * 2;
  text-align: center;
}

.choices-container--suggestion {
  @extend .choices-container;
  margin: 0 auto $base-spacing-unit;

  @include media-query(lap-and-up) {
    max-width: 400px;
  }
}

.choices {
  @extend .cf;
  position: relative;
}

.choice {
  background: $brand-primary;
  border: 2px solid white;
  color: white;
  display: block;
  float: left;
  padding: $base-spacing-unit;
  transition: all 0.2s ease;
  width: 50%;

  &:first-child {
    background: $brand-secondary;

    &:hover, &:active {
      background: darken($brand-secondary, 10%);
    }
  }

  &:hover, &:active {
    background: darken($brand-primary, 10%);
  }
}

.choice__icon {
  @include rem($choice-size);

  @include media-query(lap-and-up) {
    @include rem($choice-size-desktop);
  }
}

.choice__icon,
.choice__name {
  display: block;
}

.choice__name {
  @extend .gamma;

  @include media-query(lap-and-up) {
    @include rem($choice-size-desktop / 4);
  }
}

.choices__divider {
  @extend .heading--jumbo;
  background: white;
  border-radius: 50%;
  bottom: 0;
  display: block;
  height: $choice-size / 2;
  left: 0;
  line-height: 0.7;
  margin: auto;
  padding: $half-spacing-unit;
  position: absolute;
  right: 0;
  top: 0;
  width: $choice-size / 2;

  @include media-query(lap-and-up) {
    height: $choice-size-desktop / 2;
    line-height: 1;
    width: $choice-size-desktop / 2;
  }
}

.choices__neither {
  @include rem($choice-size / 4);
  border: 2px solid white;
  padding: $base-spacing-unit;
  text-align: center;
  transition: all 0.2s ease;
  width: 100%;

  &:hover, &:active {
    background: $gray-lighter;
  }

  @include media-query(lap-and-up) {
    @include rem($choice-size-desktop / 4);
  }
}

.suggestion__image {
  background: $brand-secondary;
  padding: 10px;
}

.suggestion__name {
  @extend .choice__name;
  color: white;
}

.suggestion__text {
  @extend .choices__neither;
  background: $green;
  border: 0 none;
  color: white;

  &:hover {
    background: lighten($green, 10%);
  }
}