%footer.main-footer
  .push-half--bottom
    %strong Remember to vote for us!
  %p
    = link_to "http://railsrumble.com/entries/203-incognito-mode", target: "_blank" do
      = image_tag "https://d4nnn7wspfa3h.cloudfront.net/rails-rumble-badge-2014.png", alt: "Vote for Cravings for the RailsRumble 2014", width: 135, height: 52