- content_for :title do
  Cravings

.wrapper
  %h1.heading--jumbo That sounds delicious!

  .choice-entry.choice-entry__occasion--breakfast.push-double--bottom
    .choice-entry__image
      = image_tag "suggestions/pizza.jpg", alt: "Pizza"
    .choice-entry__body
      .choice-entry__text-container
        .choice-entry__text
          You're having
          %strong Pizza 
          for 
          %strong Breakfast

  %h2.heading--jumbo.flush--bottom What's next?

  .grid.push--bottom
    .grid__item.one-whole.lap-and-up-one-third>
      .grid
        .grid__item.one-third.lap-and-up-one-whole.text--center.push--ends>
          %i.icon.icon--meal.icon--huge.text--secondary
        .grid__item.two-thirds.lap-and-up-one-whole>
          %p.push-half--bottom 
            By logging your meals regularly,
            %strong.logo Cravings
            will learn about your tastes and will help you decide what to eat.

    .grid__item.one-whole.lap-and-up-one-third>
      .grid
        .grid__item.one-third.lap-and-up-one-whole.text--center.push--ends>
          %i.icon.icon--food.icon--huge.text--brand
        .grid__item.two-thirds.lap-and-up-one-whole>
          %p.push-half--bottom
            %strong.logo Cravings
            can remember your choices and provide more accurate suggestions for your meals.

    .grid__item.one-whole.lap-and-up-one-third>
      .grid
        .grid__item.one-third.lap-and-up-one-whole.text--center.push--ends>
          %i.icon.icon--pizza.icon--huge.text--highlight
        .grid__item.two-thirds.lap-and-up-one-whole> 
          %p.push-half--bottom It'll even let you find out what meals you like that you haven't eaten in a while.

  .text--center
    = link_to "Sign me up with Facebook!", user_omniauth_authorize_path(:facebook), class: "button button--facebook button--large button--mobile"