.text-input{
  @if $global-border-box == false{
    @include box-sizing(border-box);
  }
  border: 0 none;
  border-bottom: 1px solid $border-color-default;
  border-radius: 0;
  padding: $quarter-spacing-unit $half-spacing-unit;
}

.form-field{
  @extend %margin-bottom;
}

.label{
  cursor: pointer;
  display: block;
  font-weight: 700;
  margin-bottom: $half-spacing-unit;
}

.label--inline {
  @extend .label;
  display: inline-block;
  margin-right: $half-spacing-unit;
}