@font-face {
  font-family: 'Cravings Iconset';
  src:asset-url('cravings.eot?-a1juhg');
  src:asset-url('cravings.eot?#iefix-a1juhg') format('embedded-opentype'),
    asset-url('cravings.woff?-a1juhg') format('woff'),
    asset-url('cravings.ttf?-a1juhg') format('truetype'),
    asset-url('cravings.svg?-a1juhg#cravings') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'Cravings Iconset';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--huge {
  @include rem(80px);

  @include media-query(lap-and-up) {
    @include rem(120px);
  }
}

.icon--fast-foods:before {
  content: "\e600";
}
.icon--pizza:before {
  content: "\e601";
}
.icon--croissant:before,
.icon--breakfast:before {
  content: "\e602";
}
.icon--dinner:before {
  content: "\e603";
}
.icon--lunch:before {
  content: "\e604";
}
.icon--check-circle:before {
  content: "\e605";
}
.icon--american:before {
  content: "\e606";
}
.icon--asian:before {
  content: "\e607";
}
.icon--bagels:before {
  content: "\e608";
}
.icon--baked:before {
  content: "\e609";
}
.icon--breads:before {
  content: "\e60a";
}
.icon--candy:before {
  content: "\e60b";
}
.icon--cheese:before {
  content: "\e60c";
}
.icon--cookies:before {
  content: "\e60d";
}
.icon--cream:before {
  content: "\e60e";
}
.icon--desserts:before,
.icon--ice:before {
  content: "\e610";
}
.icon--eggs:before {
  content: "\e611";
}
.icon--fried:before {
  content: "\e612";
}
.icon--fruits:before {
  content: "\e613";
}
.icon--flour:before,
.icon--grains:before {
  content: "\e614";
}
.icon--grilled:before,
.icon--smoked:before {
  content: "\e615";
}
.icon--honey:before {
  content: "\e616";
}
.icon--light:before {
  content: "\e617";
}
.icon--meats:before {
  content: "\e618";
}
.icon--mexican:before {
  content: "\e619";
}
.icon--pasta:before,
.icon--italian:before {
  content: "\e61a";
}
.icon--pastries:before {
  content: "\e61b";
}
.icon--pork:before {
  content: "\e61c";
}
.icon--poultry:before {
  content: "\e61d";
}
.icon--rice:before {
  content: "\e61e";
}
.icon--roasted:before {
  content: "\e61f";
}
.icon--dressings:before,
.icon--salads:before {
  content: "\e620";
}
.icon--sausage:before {
  content: "\e621";
}
.icon--seafoods:before {
  content: "\e622";
}
.icon--snacks:before {
  content: "\e623";
}
.icon--steamed:before {
  content: "\e624";
}
.icon--toppings:before {
  content: "\e625";
}
.icon--vegetables:before {
  content: "\e626";
}
.icon--cancel-circle:before {
  content: "\e627";
}
.icon--food:before {
  content: "\e60f";
}
.icon--meal:before {
  content: "\e628";
}