.list--tags li {
  @include rem(14px);
  background: $brand-secondary;
  border-radius: 14px;
  color: white;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  margin: 0.1em;
  padding: 0.5em 1em;
  transition: all 0.2s ease;

  .icon {
    vertical-align: middle;
  }

  &:hover {
    background: darken($brand-secondary, 10%);
  }
}

.list--table {
  border-top: 1px solid $gray-light;
}

.list--table li {
  border-bottom: 1px solid $gray-light;
  display: block;
  padding: $half-spacing-unit;
}

.list--inline li {
  display: inline-block;
  margin: 0 10px;
}

.list--nav {
  @extend .list--inline;
  text-align: center;

  @include media-query(lap-and-up) {
    text-align: right;
  }
}