.list--tags li {
  @include rem(14px);
  background: $brand-secondary;
  border-radius: 14px;
  color: white;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  margin: 0.1em;
  padding: 0.5em 1em;
  transition: all 0.2s ease;

  .icon {
    vertical-align: middle;
  }

  &:hover {
    background: darken($brand-secondary, 10%);
  }
}

.list--table li {
  border-bottom: 1px solid $border-color-default;
  display: block;
  padding: $half-spacing-unit;
}