html, body {
  min-height: 100%;
}

.wrapper{
  @extend .cf;
  margin: auto;
  padding: 0 $wrapper-gutter;
  max-width: $wrapper-width;
}

.main-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.main-header {
  background: $brand-primary;
  padding: $half-spacing-unit;

  @include media-query(lap-and-up) {
    padding: $half-spacing-unit 0 $base-spacing-unit;
  }
}

.logo {
  color: $brand-primary;
  font-family: $headings-font-family;
  font-weight: 400;
  letter-spacing: -0.03em;
}

.main-logo {
  @extend .logo;
  @include rem(32px);
  color: white;
  text-align: center;

  @include media-query(lap-and-up) {
    @include rem(48px);
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.main-content {
  padding: $base-spacing-unit 0;
}

.dashboard .main-content {
  padding-top: 0;
}

.main-nav {
  ul {
    @extend .list--inline;
    @include rem(16px);
    text-align: center;

    @include media-query(lap-and-up) {
      text-align: left;
    }
  }

  background: $brand-primary;
  margin-bottom: $base-spacing-unit;

  li { margin: 0 !important; }

  a {
    display: inline-block;
    color: white;
    padding: 0.25em 0.5em;
    text-decoration: none;

    @include media-query(lap-and-up) {
      padding: 0.25em 1em;
    }

    &:hover {
      background: darken($brand-primary, 10%);
    }
  }
}

.main-footer {
  @include rem(16px);
  color: $gray-dark;
  text-align: center;
  padding: $base-spacing-unit 5px;
}