html, body {
  height: 100%;
}

.wrapper{
  @extend .cf;
  margin: auto;
  padding: 0 $wrapper-gutter;
  max-width: $wrapper-width;
}

.main-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.main-header {
  background: $brand-primary;
  padding: $half-spacing-unit;

  @include media-query(lap-and-up) {
    padding: $half-spacing-unit 0 $base-spacing-unit;
  }
}

.main-logo {
  @include rem(32px);
  color: white;
  font-family: $headings-font-family;
  letter-spacing: -0.03em;
  text-align: center;

  @include media-query(lap-and-up) {
    @include rem(48px);
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.main-content {
  padding: $base-spacing-unit 0;
}