!!! 5
%html.no-js{:lang => "en"}

  = render :partial => "shared/head"

  %body.landing
    .main-wrapper
      = render :partial => "shared/header"

      .main-content
        = yield
    
    = render :partial => "shared/scripts"